/* Padding & Margin Order: Top Right Bottom Left*/

/* Clears pre-existing styling by the browser window. */
*{
	margin: 0;
	padding: 0;

	/* Edit font styles for the entire web page */
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	color: #0A0A0A;	/* Almost black font */ 
}

body{
	min-width: 100%;
	min-height: 100%;
	background-color: #EEEEEE; 		/* Light grey background */
}

/* For th*/
table#login-table {
	width: 100%;
	height: auto;
	padding: 1em;
	padding-right: 3em;
}

table#login-table tr{
	float: right;
}

table#login-table td{
	
}

table#login-table input{
	margin-right: 1.75em;
	padding: 0.25em 0.5em 0.25em 0.5em;
}

input#login-btn{
	background-color: #65BAE8; /* Sky blue */
	border: 1px solid #65BAE8;
}

input#register-btn{
	background-color: #F23537; /* Candy red */
	border: 1px solid #F23537;
}

/* Clear the display */
div.clear{
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	visibility: hidden;
	clear:both;
}

div#content{
}
